<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="images/x-icon">
    <title>Синельниківська дільниця АТ "Дніпропетровськгаз"</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/index.html">Головна сторінка</a></li>
                        <li><a href="regulatory_documents.html">Нормативні документи</a></li>
                        <li><a href="orders.html">Накази, розпорядження</a></li>
                        <li><a href="technical_documents.html">Виконавчо-технічна документація</a></li>
                        <li><a href="technological_maps.html">Технологічні карти</a></li>
                        <li><a href="work_instructions.html">Виробничі інструкції</a></li>
                        <li><a href="route_maps.html">Маршрутні карти</a></li>
                        <li><a href="labor_protection.html">Інструкції з охорони праці</a></li>
                        <li><a href="fire_safety.html">Інструкції з пожежної безпеки</a></li>
                        <li><a href="books.html">Довідкова та навчальна література</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="centered">
        <div id="title">Виконавчо-технічна документація</div>
        <input type="search" id="listFilter" onkeyup="treeFilter()" onsearch="treeFilter()" placeholder="Пошук...">
        <ul>
            <li class="topTree"><span class="rootTree">Газопроводи високого тиску І кат</span>
                <ul class="children filteringList">[highPressureGasPipeline1]
                </ul>
            </li>
            <li class="topTree"><span class="rootTree">Газопроводи високого тиску ІІ кат</span>
                <ul class="children filteringList">[highPressureGasPipeline2]                    
                </ul>
            </li>
            <li class="topTree"><span class="rootTree">Газопроводи середнього тиску</span>
                <ul class="children filteringList">[mediumPressureGasPipeline]                    
                </ul>
            </li>
            <li class="topTree"><span class="rootTree">Газопроводи низького тиску</span>               
                <ul class="children filteringList">[lowPressureGasPipeline]                    
                </ul>
            </li>
            <li class="topTree"><span class="rootTree">ГРП</span>
                <ul class="children filteringList">[gasControlPoint]                    
                </ul>
            </li>
            <li class="topTree"><span class="rootTree">ШРП</span>
                <ul class="children filteringList">[cabinetTypeGasControlPoint]                    
                </ul>
            </li>
            <li class="topTree"><span class="rootTree">КБРТ</span>                
                <ul class="children filteringList">[linePressureRegulator]                    
                </ul>
            </li>
            <li class="topTree"><span class="rootTree">ЕХЗ</span>
                <ul class="children filteringList">[electrochemicalProtection]                    
                </ul>
            </li>
        </ul>

</main>
<footer id="footer">&copy; 2020 Синельниківська дільниця АТ&nbsp;"Дніпропетровськгаз"</footer>
<script>
    let toggler = document.querySelectorAll('.rootTree')
    toggler.forEach(item => {
        item.addEventListener("click", () => {
            item.parentElement.querySelector('.children').classList.toggle("active")
            item.classList.toggle("rootTree-down")
        })
    })

    const treeFilter = () => {
        let filter = document.querySelector('#listFilter').value.toUpperCase()
        let liList = document.querySelectorAll('.filteringList > li')
        let topList = document.querySelectorAll('.topTree')
        let innerLi
        liList.forEach(li => li.style.display = (li.textContent.toUpperCase().indexOf(filter) > -1) ? '' : 'none')
        topList.forEach(top => {
            innerLi = top.querySelectorAll('.filteringList > li')
            if (Array.from(innerLi).some(x => x.style.display == '')) {
                top.style.display = ''
                top.querySelector('span').classList.add("rootTree-down")
                top.querySelector('.children').classList.add("active")
            } else {
                top.style.display = 'none'
                top.querySelector('span').classList.remove("rootTree-down")
                top.querySelector('.children').classList.remove("active")
            }
            if (filter == '') {
                top.querySelector('span').classList.remove("rootTree-down")
                top.querySelector('.children').classList.remove("active")
            }
        })
    }
</script>
</body>

</html>